<nav class="navbar navbar-light bg-primary">
    <a href="/" class="navbar-brand">
        LOGO
    </a>
    <a class="btn btn-primary" href="/ask">
        FAÇA SUA PERGUNTA
    </a>
    <a href="/question" class="btn btn-primary">PERGUNTAS</a>
</nav>